<h2>Map your thoughts</h2>
<main>
  <p>
    Info Mapper can be used as anything from a travel microblog, to a study guide for history or geography students, to a way of giving some context to news stories around the world.
    You can pin notes to the map, optionally adding graphics or outside links, and create different maps with different themes.
  </p>
  <div id="map"></div>

</main>

